.container {
  padding: 20px;
}

.movieDetails {
  display: flex;
  gap: 20px;
}

.poster {
  width: 245px;
  height: 365px;
}

.info {
  flex: 1;
}

.additionalInfo {
  margin-top: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.goBackButton {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.castButton,
.reviewsButton {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
