.movieItem {
  list-style: none;
  margin: 10px;
  text-align: center;
  width: 150px;
}

.movieLink {
  text-decoration: none;
  color: inherit;
}

.moviePoster {
  width: 245px;
  height: 365px;
  object-fit: cover;
}

.movieTitle {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
