.movieItem {
  list-style: none;
  margin: 10px;
  text-align: center;
  width: 150px; /* Limit the width of the movie item */
}

.movieLink {
  text-decoration: none;
  color: inherit;
}

.moviePoster {
  width: 245px; /* Set width */
  height: 365px; /* Set height */
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
}

.movieTitle {
  margin-top: 10px;
  font-size: 14px; /* Adjust font size */
  font-weight: 500;
  color: #333;
}
